/* styles.css */
.visualizacion-contenido {
    position: absolute;
    width: 100vw;
    height: 100vh;
    padding: 20px;
    background-color: rgb(190, 95, 95);
  }
  
  .multimedia-item {
    margin-bottom: 30px;
  }
  
  .contenedor-multimedia {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .contenedor-multimedia h2 {
    margin-bottom: 10px;
  }
  
  .contenedor-multimedia p {
    margin-bottom: 5px;
  }
  
  .contenedor-multimedia embed,
  .contenedor-multimedia audio,
  .contenedor-multimedia video {
    width: 100%;
  }
  